@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

::after
::before {
box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #fbfbfb;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}


/* advantages*/

.advantages {}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
}

/* Services */
.services {}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.services-text {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.subscription {
  background-image: url("/images/background-subscribtion.jpg");
  background-repeat: no-repeat;
}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  width: 331px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.copyright-link {
  color: #000000;
}

/*Catalog*/
.main-inner {
  background-image: url("/images/background-catalog.jpg");
  background-repeat: no-repeat;
}
