@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-header {
  padding: 0 70px;

}

.main-index {}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 100px 114px 124px;

}

.navigation-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;

}

.navigation-user-item {}

.navigation-user-link-text {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.button {

  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 8px 34px;

  text-decoration: none;

  /* position: relative;
  display: block; */
  min-width: 160px;
  min-height: 36px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.navigation-user-item-button {
  margin-top: 14px;
  margin-right: 70px;
  margin-bottom: 14px;
}

.navigation-user-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  /* font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff; */
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo {
  display: block;
  justify-content: flex-start;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {

  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  background-image: url("/images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  align-items: center;
  height: 485px;
}

/* advantages*/

.advantages {
  padding-top: 69px;

}

.advantages-heading {
  text-align: center;
  margin: 0 auto 25px;
  max-width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.advantages-description {
  text-align: center;
  margin: 0 auto 69px;
  max-width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

}

.advantages-title {

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 62px;


}


.advantages-text {
  margin: 0 auto;
  max-width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-text--color-blue {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.advantages-item--color-blue {
  background: #82b3d3;
  color: #ffffff;

}

.advantages-item--color-rgba-ligt {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item--color-rgba-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.advantages-item-size {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Services */
.services {
  padding-top: 64px;
}

.services-heading {
  text-align: center;
  max-width: 505px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0 auto 64px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  max-width: 230px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

}

.services-item {
  text-align: center;
  height: 385px;
  width: 400px;
  padding-top: 80px;
}

.services-item-image {
  margin: 0 auto 30px;
}

.services-item-color-blue {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

.services-item-color-white {
  background-color: #ffffff;
}

.booking {
  padding-top: 96px;
  text-align: center;
}

.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 297px;
  text-transform: uppercase;
  color: #000000;
}

.booking-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px;
  text-align: center;
  max-width: 592px;
  color: #333333;
}

.booking-link {
  display: inline-block;
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.subscription {
  min-height: 415px;
  background-image: url("../images/background-subscribtion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-catalog {
  min-height: 415px;
  /* background-image: url("../images/background-subscribtion.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-heading-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscription-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  cursor: pointer;
}

.subscription-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  width: 232px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 80px;
}

.footer-social {}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  width: 24px;
  height: 14px;
  margin-right: 26px;
}

.footer-social-link {
  display: flex;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts {}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.copyright {}

.copyright-link {
  color: #000000;
}

/*Catalog*/
.main-inner {}

.inner-header {
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-right: 70px;
  padding-left: 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto 12px;
  color: #ffffff;
  /* max-width: 494px; */
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;

}

.catalog {
  padding-top: 56px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.catalog-top {
  display: flex;
  align-items: center;

}

.control {
  display: flex;
  gap: 4px;
}

.select-control {
  width: 292px;
  height: 49px;
  margin: 0 70px 0 auto;
  padding: 14px, 20px, 14px, 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;

}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.catalog-filter-group {
border: 0;
margin: 0;
padding: 0;
}

.catalog-filter-group-price {
  display: flex;
  flex-direction: row;
}

.text-input {

  width: 143px;
  height: 48px;
}

.catalog-sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-sort-item {}

.catalog-filter {
  display: flex;

}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  max-width: 150px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 70px;
  color: #ffffff;

}

.catalog-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 338px;
  text-transform: uppercase;
  color: #000000;

}

.catalog-filter-submit {
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  width: 191px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

}

.catalog-filter-reset {
  width: 191px;
  background-color: transparent;
  border: none;
  padding: 8px 58px;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 60px;
  display: grid;
  grid-template-columns: 300px 300px 300px;

}

.hotel-card-item {
  background-size: cover;
  background-repeat: no-repeat;
  height: 385px;
  text-align: center;
  list-style-type: none;
  width: 300px;
}

.hotel-card-link {
  display: flex;
  flex-direction: column;
}

.hotel-card-button {
  display: inline-block;
  width: 140px;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-button-favorite {
  display: inline-block;
  width: 140px;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-button-favorite-selected {
  display: inline-block;
  background-color: #7db54f;
}

.hotel-card-name {
  width: 140px;
  height: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-card-faivorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-stars-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-stars {
  display: block;
  gap: 6px;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 22px;
}


.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 2px solid #ffffff;
  border-radius: 4px;

  width: 60px;
  height: 60px;
}

.pagination-link {
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
