@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-header {
  background-color: #F2F2F2;
}

.main-index {
  background-color: #F2F2F2;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 580px;
}

.navigation-link {
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

.navigation-user {
  max-width: 220px;
  margin-left: auto;
  list-style: none;
}

.logo {
  display: block;
  justify-content: flex-start;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("/images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

/* advantages*/

.advantages {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list {
  box-sizing: border-box;
  height: 385px;
  list-style: none;
}

.advantages-item {
  width: 400px;
  font-size: 18px;
  line-height: 21px;
}

/* Services */
.services {
  display: flex;

}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.booking-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription {
  background-image: url("../images/background-subscribtion.jpg");
  background-repeat: no-repeat;
}

.subscription-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  max-width: 165px;
  margin-right: 250px;
}

.footer-social-list {
  list-style: none;
}

.contacts {
  max-width: 331px;
}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.copyright {
  max-width: 115px;
  margin-left: auto;
}

.copyright-link {
  color: #000000;
}

/*Catalog*/
.main-inner {
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-stars {}

.hotel-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
