@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-header {
  padding: 0 70px;

}

.main-index {}

.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.navigation-list {
  margin: 0 0 0 150px;
  padding: 0;
  list-style-type: none;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 100px 114px 124px;

}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  width: 68px;
  content: "";
  border: 2px solid #756257;

}

.navigation-link-current-catalog::after {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 0;
  width: 93px;
  content: "";
  border: 2px solid #756257;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;

}

.navigation-user-item {}

.navigation-user-link-text {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  left: 20px;
}

.button {

  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 8px 34px;

  text-decoration: none;

  /* position: relative;
  display: block; */
  min-width: 160px;
  min-height: 36px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
}

.button:focus {
  background-color: #615048;
}

.navigation-user-item-button {
  display: flex;

}

.navigation-user-link {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff; */
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo {
  display: block;
  justify-content: flex-start;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {

  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  background-image: url("/images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  align-items: center;
  height: 485px;
}

.hero::before {
  /* background-image: ; */
}

/* advantages*/

.advantages {
  padding-top: 69px;

}

.advantages-heading {
  text-align: center;
  margin: 0 auto 25px;
  max-width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.advantages-description {
  text-align: center;
  margin: 0 auto 69px;
  max-width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

}

.advantages-title {

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 175px;
}

.advantales-split {

  height: 2px;
  width: 60px;
  background: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantales-split-color-rgba {
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-text {
  margin: 0 auto;
  max-width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-text--color-blue {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.advantages-item--color-blue {
  background: #82b3d3;
  color: #ffffff;
}

.advantages-item--color-rgba-ligt {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item--color-rgba-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.advantages-item-size {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Services */
.services {
  padding-top: 64px;
}

.services-heading {
  text-align: center;
  max-width: 505px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0 auto 64px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  max-width: 230px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

}

.services-item {
  text-align: center;
  height: 385px;
  width: 400px;
  padding-top: 80px;
}



.services-item-icon-accomodation {
  background-image: url("../images/icons/icon-accomodation.svg");
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;

}

.services-item-icon-souvenirs {
  background-image: url("../images/icons/icon-souvenirs.svg");
  display: block;
  margin: 0 auto 30px;
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-icon-food {
  background-image: url("../images/icons/icon-food.svg");
  display: block;
  margin: 0 auto 30px;
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-color-blue {
  background-color: rgba(131, 179, 211, 0.12);
  ;
}

.services-item-color-white {
  background-color: #ffffff;
}

.booking {
  padding-top: 96px;
  text-align: center;
}

.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 297px;
  text-transform: uppercase;
  color: #000000;
}

.booking-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px;
  text-align: center;
  max-width: 592px;
  color: #333333;
}

.booking-link {
  display: inline-block;
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.booking-link:hover {
  background-color: #615048;
}

.booking-link:focus {
  background-color: #615048;
}

.subscription {
  min-height: 415px;
  background-image: url("../images/background-subscribtion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-catalog {
  min-height: 415px;
  /* background-image: url("../images/background-subscribtion.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-heading-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscription-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  font-family: inherit;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  cursor: pointer;
}

.subscription-button {
  display: inline-block;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  width: 232px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 80px;
}

.footer-social {}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  width: 24px;
  height: 14px;
  margin-right: 26px;
}

.footer-social-link {
  display: flex;
  color: #82b3d3
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts {}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.copyright {
  color: #000000;
}

.copyright-link {
  color: #000000;
}

.copyright-link:hover {
  color: #756157;
}

.copyright-link:focus {
  color: #756157;
}

.copyright-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Catalog*/
.main-inner {}

.inner-header {
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 73px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto 12px;
  color: #ffffff;
  /* max-width: 494px; */
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  color: #ffffff;

}

.breadcrumbs-link {
  color: #ffffff;
  transition: opacity 0.3s;

}

.breadcrumbs-link:hover {
  opacity: 0.6;

}

.breadcrumbs-link-arrow {
  margin-left: 11px;
  margin-right: 11px;
}

.breadcrumbs-link-arrow {
  color: rgba(255, 255, 255, 0.6);
}

.catalog {
  padding-top: 56px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.catalog-top {
  display: flex;
  align-items: center;

}

.control {
  display: flex;
  gap: 4px;
}

.select-control {
  width: 292px;
  margin: 0 70px 0 auto;
  padding: 12px 20px 12px 20px;
  padding-right: 40px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;
  appearance: none;
  background-image: url("../images/icons/arrow-catalog-sort.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68A2CA;
}

/* .select-control:focus {
  border-color: #68A2CA;
} */

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-price {
  display: flex;
  flex-direction: row;
}

.text-input {

  width: 143px;
  height: 48px;
}

.catalog-sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.catalog-sort-item {}

.catalog-sort-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-sort-link--item-sort {
  border: 2px solid #e5e5e5;
}

.catalog-filter {
  display: flex;

}

.catalog-filter-title {
  display: block;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  max-width: 150px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 70px;
  color: #ffffff;

}

.catalog-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 338px;
  text-transform: uppercase;
  color: #000000;

}

.catalog-filter-submit {
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  width: 191px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

}

.catalog-filter-submit:hover {
background-color:#68a2ca ;
}

.catalog-filter-submit:focus {
  background-color:#68a2ca ;
  }

.catalog-filter-submit:active {
  background-color: #82b3d3;
  }


.catalog-filter-reset {
  width: 191px;
  background-color: transparent;
  border: none;
  padding: 8px 58px;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.catalog-filter-reset:hover {
  opacity: 0.6;
}

.catalog-filter-reset:focus {
  border: 3px solid #83b3d3;
}

.hotel-card-title {

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}

.hotel-card {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 60px;
  display: grid;
  grid-template-columns: 300px 300px 300px;


}

.hotel-card-item {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 385px;
  text-align: center;
  list-style-type: none;
  width: 300px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

}

.hotel-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.hotel-card-button {
  display: inline-block;
  width: 140px;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-button-favorite {
  display: inline-block;
  width: 140px;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-button-favorite-selected {
  display: inline-block;
  background-color: #7db54f;
}

.hotel-card-name {
  width: 140px;
  height: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-faivorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 16px;
}

/* .hotel-card-faivorite:last-child {
  margin-bottom: 0;
} */

.hotel-card-stars-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.hotel-card-stars {
  display: block;
  gap: 6px;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 22px;
}

.border {
  display: block;
  width: 1060px;
  border: 1px solid #E6E6E6;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}


.pagination {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 40px 0 0;
  list-style-type: none;
  color: #ffffff;
  padding: 40px 0 0;

}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 2px solid #ffffff;
  border-radius: 4px;

  width: 60px;
  height: 60px;

}

.pagination-link {
  font-family: inherit;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;

}

.pagination-link-current {
  font-family: inherit;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
  line-height: 36px;

}

.pagination-item:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-item:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-item:active {
  background-color: #82b3d3;

}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: transparent;

  width: 60px;
  height: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
