@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page-header {
  padding: 0 70px;
}


.navigation {
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.navigation-list {
  margin: 0 0 0 150px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 114px 124px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #000000;
}

.navigation-link:not(.navigation-link-current):hover {
  opacity: 0.3;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -2px;
  left: 16px;
  height: 2px;
  width: 68px;
  content: "";
  border: 2px solid #756257;
  z-index: 1;
}

.navigation-link-current-catalog::after {
  position: absolute;
  right: 16px;
  bottom: -2px;
  left: 16px;
  height: 0;
  width: 93px;
  content: "";
  border: 2px solid #756257;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation-user-link-text {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7db54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  left: 20px;
  z-index: 10;
}

.button {
  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 8px 34px;
  text-decoration: none;
  min-width: 160px;
  min-height: 36px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-item-button {
  display: flex;
}

.navigation-user-link {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user-link:hover {
  opacity: 0.3;
}

.navigation-user-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo {
  display: block;
  justify-content: flex-start;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* hero */

.hero {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  align-items: center;
  height: 485px;
  position: relative;
}

.hero::before {
  content: "";
  height: 57px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/icons/welcome_vector.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/* advantages*/

.advantages {
  padding-top: 69px;
}

.advantages-heading {
  text-align: center;
  margin: 0 auto 25px;
  max-width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  text-align: center;
  margin: 0 auto 69px;
  max-width: 651px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 175px;
}

.advantages-photo {
  height: 100%;
  object-fit: cover;
}

.advantales-split {
  height: 2px;
  width: 60px;
  background: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantales-split-color-rgba {
  height: 2px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.advantages-text {
  margin: 0 auto;
  max-width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-text--color-blue {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item--color-blue {
  background: #82b3d3;
  color: #ffffff;
}

.advantages-item--color-rgba-ligt {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item--color-rgba-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.advantages-item-size {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Services */
.services {
  padding-top: 64px;
}

.services-heading {
  text-align: center;
  max-width: 505px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  margin: 0 auto 64px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  max-width: 230px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.services-item {
  text-align: center;
  min-height: 385px;
  width: 400px;
  padding: 80px 0 20px;
}

.services-item-icon-accomodation {
  background-image: url("../images/icons/icon-accomodation.svg");
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-icon-souvenirs {
  background-image: url("../images/icons/icon-souvenirs.svg");
  display: block;
  margin: 0 auto 30px;
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-icon-food {
  background-image: url("../images/icons/icon-food.svg");
  display: block;
  margin: 0 auto 30px;
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-color-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-color-white {
  background-color: #ffffff;
}

.booking {
  padding-top: 96px;
  text-align: center;
}

.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 297px;
  text-transform: uppercase;
  color: #000000;
}

.booking-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px;
  text-align: center;
  max-width: 592px;
  color: #333333;
}

.booking-link {
  display: inline-block;
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.booking-link:hover {
  background-color: #615048;
}

.booking-link:focus {
  background-color: #615048;
}

.booking-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscription {
  min-height: 415px;
  background-image: url("../images/background-subscribtion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-catalog {
  min-height: 415px;
  margin-top: 104px;
  text-align: center;
  padding-top: 96px;
}

.subscription-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-heading-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
  padding: 20px 0;
}

.subscription-text-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-field {
  font-family: inherit;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
  background-color: #f2f2f2;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  cursor: pointer;
}

.subscription-button {
  display: inline-block;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  width: 232px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 80px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  max-width: 145px;
}

.footer-social-item {
  display: flex;
  width: 24px;
  height: 14px;
  margin-right: 26px;
}

.footer-social-link {
  display: flex;
  color: #82b3d3
}

.footer-social-link:hover {
  color: #68A2CA;
}

.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3)
}

.copyright {
  color: #000000;
}

.copyright-link {
  color: #000000;
}

.copyright-link:hover {
  color: #756157;
}

.copyright-link:focus {
  color: #756157;
}

.copyright-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Catalog*/

.inner-header {
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 73px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto 12px;
  color: #ffffff;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  color: #ffffff;
}

.breadcrumbs-link {
  color: #ffffff;
  transition: opacity 0.3s;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link-arrow {
  margin-left: 11px;
  margin-right: 11px;
}

.breadcrumbs-link-arrow {
  color: rgba(255, 255, 255, 0.6);
}

.catalog {
  padding-top: 56px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.catalog-top {
  display: flex;
  align-items: center;
}

/* Control */
.control {
  position: relative;
  display: block;
  gap: 16px;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 13px;
  height: 11px;
  background-image: url("../images/icons/checkbox.svg");
  content: "";
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:hover + .control-mark {
  opacity: 0.6;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:hover + .control-mark {
  opacity: 0.6;
}

.control-radio {
  display: flex;
  gap: 16px;
  width: 20px;
  height: 20px;
}

.select-control {
  width: 292px;
  margin: 0 70px 0 auto;
  padding: 12px 20px 12px 20px;
  padding-right: 40px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;
  appearance: none;
  background-image: url("../images/icons/arrow-catalog-sort.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}


.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-price {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-label {
  display: flex;
  position: relative;
  align-items: center;
}

.catalog-filter-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 48px;
}

.text-input__placeholder {
  position: absolute;
  right: 12px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.text-input {
  font-family: inherit;
  width: 143px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 2px solid #f2f2f2;
  padding-left: 20px;
}

.text-input:hover {
  background-color: #e6e6e6;
}

.text-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.text-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.text-input-max-value {
  font-family: inherit;
  width: 143px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 0 4px 4px 0;
  border: 2px solid #f2f2f2;
  padding-left: 20px;
}

.text-input-max-value:hover {
  background-color: #e6e6e6;
}

.text-input-max-value:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.text-input-max-value:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.catalog-sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.catalog-sort-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-sort-link:focus {
  border: 2px solid #68A2CA;
}

.catalog-sort-link:active {
  border: 2px solid #000000;
}


.catalog-sort-link--item-sort {
  border: 2px solid #e5e5e5;
}

.catalog-sort-link--item-sort:hover {
  border: 2px solid #000000;
}

.catalog-sort-link--item-sort:focus {
  border: 2px solid #68A2CA;
}

.catalog-sort-link--item-sort:active {
  border: 2px solid #000000;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  display: block;
  margin-bottom: 32px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  max-width: 150px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 70px;
  color: #ffffff;
  max-width: 112px;
}

.catalog-filter-item-radio {
  min-width: 141px;
}

.catalog-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 338px;
  text-transform: uppercase;
  color: #000000;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-bar:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  background-color: #ffffff;
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}


.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-submit {
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 40px;
  width: 191px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.catalog-filter-submit:hover {
  background-color: #68a2ca;
}

.catalog-filter-submit:focus {
  background-color: #68a2ca;
}

.catalog-filter-submit:active {
  background-color: #82b3d3;
}

.catalog-filter-reset {
  width: 191px;
  background-color: transparent;
  border: none;
  padding: 8px 58px;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.catalog-filter-reset:hover {
  opacity: 0.6;
}

.catalog-filter-reset:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}

.hotel-card {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 60px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.hotel-card-item {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 385px;
  text-align: center;
  list-style-type: none;
  width: 300px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.hotel-card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.hotel-card-button {
  display: inline-block;
  width: 140px;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  background-color: #615048;
}

.hotel-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button-favorite {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.hotel-card-button-favorite:hover {
  background-color: #68a2ca;
}

.hotel-card-button-favorite:focus {
  background-color: #68a2ca;
}

.hotel-card-button-favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button-favorite-selected {
  background-color: #7db54f;
  padding: 8px 18px;
}

.hotel-card-button-favorite-selected:hover {
  background-color: #6c9e42;
}

.hotel-card-button-favorite-selected:focus {
  background-color: #6c9e42;
}

.hotel-card-button-favorite-selected:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0.3;
}

.hotel-card-name {
  width: 140px;
  height: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: start;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-faivorite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0 16px;
}

.hotel-card-stars-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.hotel-card-stars {
  display: block;
  gap: 6px;
}

.hotel-card-rating {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 8px;
  padding-left: 22px;
}

.border {
  display: block;
  width: 1060px;
  border: 1px solid #E6E6E6;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
}


.pagination {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 40px 0 0;
  list-style-type: none;
  color: #ffffff;
  padding: 40px 0 0;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 2px solid #ffffff;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-link-current {
  font-family: inherit;
  color: #000000;
  text-decoration: none;
  line-height: 36px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:active {
  background-color: #82b3d3;
}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  width: 60px;
  height: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 11;
  display: none;
}

.modal.is_active {
  display: block;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(242, 242, 242, 0.8);
}

.modal__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  padding: 64px 70px;
  width: 717px;
  min-height: 576px;
}

.modal__close {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-image: url(../icons/closure.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field {
  background: #f2f2f2 url("../images/icons/icon-calendar.svg") no-repeat calc(100% - 20px);
  width: 100%;
  height: 48px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24;
  color: #000000;
  padding: 0 44px 0 20px;
  border: none;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-appointment-form-content {
  color: #000000;
  width: 110px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 0;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24;
  text-align: center;
}

.field-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
}

.form-input-wrapper {
  position: relative;
}

.form-input-number-control {
  background: transparent no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
  height: 20px;
  opacity: 0.3;
  padding: 0;
  position: absolute;
  top: 14px;
  width: 20px;
}

.form-input-number-control--minus {
  background-image: url("../images/minus.svg");
  left: 10px;
}

.form-input-number-control--plus {
  background-image: url("../images/plus.svg");
  right: 10px;
}

.form-input-number-control:hover {
  opacity: 1;
}

.form-input-number-control:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  transform: rotate(180deg);
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip {
  position: relative;
}

.appointment-form-adults-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
}

.form-label {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  width: 140px;
  flex-shrink: 0;
}

.form-label--content {
  align-items: center;
  display: flex;
  gap: 10px;
}

.appointment-button {
  height: 60px;
  background: #83b3d3;
  border: none;
  border-radius: 10px;
  padding: 8px 58px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  margin: 0;
}

.appointment-button:hover {
  background-color: #68a2ca;
}

.appointment-button:active {
  background-color: #68a2ca;
}

.appointment-text-error {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.text-error-checkout {
  color: #333333;
}
